/********************************* mobile device******************************************/

@media screen and (max-width: 800px) {
    #manu {
      top: 7px;
      z-index: 5;
    }
    .container1 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
    .Half {
      width: 100%;
    }
    #firstHalf {
      position: relative;
      display: flex;
  
      flex-direction: row;
      justify-content: flex-start;
    }
  
    .manuBar {
      display: none;
    }
    .manuBar ul {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-content: center;
      
    }
    .closeButton{
      background-color:transparent;
      width: fit-content;
      height: fit-content;
      position: absolute;
      border-width: 1px;
      right: 9px;
      top: 9px;

    }
    .manuBar ul li button {
      color: whitesmoke;
      margin: 5px;
    }
    .ppcontainer {
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column;
    }
    .manuIcon {
      position: fixed;
      top: 16px;
      right: 12px;
      display: block;
      background-color: transparent;
      border: none;
    }
    .show {
      height: 40vh;
      width: 20vh;
      background-color: rgb(211, 169, 19);
      position: fixed;
      align-items: center;
      right: 12px;
      display: flex;
    }
    .card {
      width: 98%;
    }
    .blog {
      display: flex;
      flex-direction: column;
      height: auto;
      padding-top: 14px;
      position: relative;
    }
    .box {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .blogText p {
      margin: 0px;
      width: 100%;
      text-align: left;
    }
    .blogPtofile {
      margin-bottom: 14px;
    }
    .blogText {
      width: 100%;
      margin: 0;
      padding-bottom: 18px;
    }
    .ptrofile {
      margin: 18px;
    }
  }
  